@font-face {
  src: url(fonts/source-sans-pro/SourceSansPro-Bold.otf);
  font-family: "source-sans-pro";
}
@font-face {
  src: url(fonts/source-sans-pro/SourceSansPro-Light.otf);
  font-family: "source-sans-pro-light";
}
* {
  font-family: "source-sans-pro", sans-serif;
  background: none;
  color: #fff;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Navigation Section */
ul {
  font-family: "source-sans-pro";
  list-style-type: none;
  display: flex;
  gap: 30px;
  padding: 0px;
  margin: 0px;
}

ul li a {
  text-decoration: none;
  color: #ffffff;
  font-size: 12px;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  align-items: center;
}

header {
  padding: 20px 40px;
}
body {
  background-image: url(images/Object.png);
  background-size: 100% auto;
  background-repeat: no-repeat;
}
/* Hero Section */

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.container h1 {
  color: #ffffff;
  font-size: 120px;
  line-height: 150px;
  margin-bottom: 10px;
  font-family: "source-sans-pro";
}

.span-container {
  display: flex;
  justify-content: space-between;
  color: #ffffff;
}

.span-container span {
  padding: 20px;
  font-family: "source-sans-pro";
}

.btn {
  display: block;
  margin: 10px auto;
  color: #ffffff;
  background-color: #c271ff;
  border-radius: 15px;
  border-style: none;
  padding: 15px 10px;
  font-size: 14px;
  font-family: "source-sans-pro";
  font-weight: lighter;
}

/* Learn from the pros section */

.img_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 120px;
}

.img_container h2 span {
  font-weight: bold;
  color: #c271ff;
  font-size: 32px;
  font-family: "source-sans-pro";
}

.img_container h2 {
  font-size: 32px;
  font-weight: lighter;
  font-family: "source-sans-pro-light";
}
.images {
  display: flex;
  justify-content: space-between;
  padding-top: 90px;
  width: 1009px;
  height: 237px;
}

.imgs {
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 150px;
  height: 237px;
  color: #ffffff;
}

.imgs img {
  border-radius: 80px;
}

.imgs p {
  line-height: 24px;
  font-style: italic;
}

.first-section {
  margin-bottom: 150px;
}
/* Testimonials Section */
.testimonials {
  height: 392px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  background-color: #c271ff;
}

.quote-text {
  display: flex;
  flex-direction: column;
  padding-left: 53px;
  width: 730px;
  height: 158px;
  padding-top: 120px;
}

.quote-text blockquote {
  font-family: "source-sans-pro-light";
  font-size: 22px;
  line-height: 33px;
}
.quote-text h3 {
  font: bold;
  padding-top: 22px;
}

.quote-text p {
  font-style: italic;
  font-family: "source-sans-pro-light";
}

.profile_pic {
  padding-top: 100px;
}

/* Tutorial Section */
.card-container {
  height: 450px;
  margin: top 50px;
}

.card-container h2 {
  color: #071629;
  font-size: 32;
  margin-bottom: 70px;
  font-weight: lighter;
}

.card-container h2 span {
  color: #c271ff;
  font-weight: bold;
}
.h2-center {
  text-align: center;
  padding-top: 50px;
}
.tutorials {
  display: flex;
  justify-content: space-around;
}

.card {
  display: flex;
  flex-direction: column;
  width: 255px;
  height: 335px;
  /* margin-left: 16.5px;
  margin-right: 16.5px; */
}

.card h3 {
  color: #071629;
  font-weight: bold;
  margin-top: 18px;
  margin-bottom: 7.6px;
  margin-left: 13px;
}

.card p {
  color: #071629;
  font-size: 14px;
  margin-bottom: 7.6px;
  margin: 0 13px;
  margin-bottom: 13.4px;
  opacity: 50%;
}

.profile {
  display: flex;
  align-items: center;
  margin-left: 13px;
}
.profile h4 {
  color: #c271ff;
  font-size: 14px;
  margin-left: 13px;
}

.profile img {
  width: 30px;
  height: 30px;
}
.stars {
  display: flex;
  height: 27px;
  margin-top: 14px;
  margin-left: 13px;
  margin-right: 22px;
}

.stars i {
  color: #c271ff;
  height: 15px;
  width: 15px;
  margin-right: 8px;
  margin-bottom: 10px;
}

.stars p {
  display: inline;
  margin-left: auto;
  font-size: 14px;
  color: #c271ff;
  opacity: 100%;
}

/* Membershipship section */

.membership {
  height: 502px;
  background-color: #071629;
  display: flex;
  flex-direction: column;
  margin-top: 90px;
}

.membership h2 {
  font-size: 32px;
  font-weight: lighter;
  margin-top: 70px;
  margin-bottom: 50px;
  text-align: center;
}

.membership h2 span {
  color: #c271ff;
  font-weight: bold;
}

.descri {
  display: flex;
  justify-content: space-around;
}
.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 257px;
  height: 153px;
}

.description img {
  width: 43px;
  height: 35px;
  margin-bottom: 26px;
}

.description h3 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 13px;
}

.description p {
  font-size: 14px;
  text-align: center;
  margin: 0 22.5px;
}

#btn-center {
  margin-top: 40px;
}

/* FAQ Section */
.faq {
  height: 707px;
  margin-top: 50px;
}

.faq-title {
  text-align: center;
  color: #071629;
  font-size: 60px;
  font-weight: lighter;
  font-family: "source-sans-pro-light";
  margin-bottom: 80px;
}
.text-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 920px;
  height: 558px;
  margin: 0 auto;
}

.container1 {
  display: flex;
  justify-content: space-between;
}

.main-text {
  width: 350px;
  height: 242px;
  display: block;
}

.main-text h3 {
  color: #071629;
  font-weight: bold;
  margin-bottom: 30px;
}

.main-text p {
  color: #071629;
  font-size: 14;
  opacity: 50%;
  line-height: 22px;

  font-family: "source-sans-pro-light";
}

/* Footer Section */

.footer {
  height: 249px;
  background-color: #071629;
  margin-top: 70px;
}
.inner-section {
  display: flex;
  justify-content: space-between;
  margin-left: 165px;
  padding-top: 100px;
}
.fa-brands {
  display: flex;
  align-items: center;
  font-size: 30px;
}

.icons {
  display: flex;
  justify-content: space-between;
  margin-right: 165px;
  width: 130px;
  height: 30px;
}
.footer p {
  font-size: 12px;
  margin-top: 80px;
  opacity: 50%;
  text-align: center;
}
